<section  class="main">
  <h2 class="sub-title"><%= @recipe.name %></h2>
  <article class="recipe-box">
    <div class="recipe-prep-box">
      <p>
        <b>Preparation time:</b>
        <%= pluralize(@recipe.preparation_time.strftime('%H'), 'hr') %>:
        <%= pluralize(@recipe.preparation_time.strftime('%M'), 'min') %>:
        <%= pluralize(@recipe.preparation_time.strftime('%S'), 'sec') %>
      </p>
      <div class="public-box">
        <span>Public: </span>
        <%= button_to update_public_recipe_path(@recipe.id), method: :patch, class: "#{ @recipe.public ? 'checked' : 'uncheck' }" do %>
          <div class="ball"></div>
        <% end %>
      </div>
    </div>
    <div>
      <b>Cooking time:</b>
      <%= pluralize(@recipe.cooking_time.strftime('%H'), 'hr') %>:
      <%= pluralize(@recipe.cooking_time.strftime('%M'), 'min') %>:
      <%= pluralize(@recipe.cooking_time.strftime('%S'),'sec') %>
    </div>
    <p><%= @recipe.description %></p>
  </article>
  <div class="buttons">
    <%= link_to 'Generate shopping list', recipe_generate_shopping_list_index_path(@recipe.id), class: 'btn generic-btn' %>
    <%= link_to "Add Ingredient", new_recipe_recipe_food_path(@recipe.id), class: "btn generic-btn" %>
  </div>
  <hr>
  <%= render "recipes/table" %>
  <div class="create-recipe-box">
    <%= button_to "Delete Recipe", recipe_path(@recipe.id), method: :delete, class: "btn delete-btn"%>
  </div>
</section>