<section class="main">
  <h2 class="sub-title">Add Recipe Food</h2>
  <%= form_with  model: [@recipe, @recipe.recipe_foods.create], class:"input-form"  do |f|%>
    <div class="form-box">
      <%= f.label :food, class:"label" %><br>
      <%= f.select :food_id, current_user.foods.collect {|food| [food.name, food.id]},{ include_blank: true} , class:"field" %><br>
    </div>

    <div class="form-box">
      <%= f.label :quantity, class:"label" %><br>
      <%= f.number_field :quantity ,  class:"field" , required: true, placeholder: '1',  min: 1%><br>
    </div>

    <div class="form-box-col">
      <%= f.submit "Add Ingredient", class:"btn create-btn" %>
      <%=link_to 'Back to Recipe', recipe_path(@recipe.id), class:"btn generic-btn"%>
    </div>
  <%end%>
</section>