<header>
  <%= link_to "FoodPad", root_path, class: "logo" %>

  <% if current_user %>
    <nav>
      <%= link_to "Foods", root_path, class: "nav-link" %>
      <%= link_to "Public Recipes", public_recipes_path, class: "nav-link" %>
      <%= link_to "Recipes", user_recipes_path(current_user), class: "nav-link" %>
    </nav>

    <%= button_to "Sign Out", destroy_user_session_path, method: :delete, class: "sign-link" %>
    <a href=<%= user_path(current_user) %> class="header-avatar">
      <p><%= current_user.name[0] %></p>
    </a>
  <% else %>
    <%= link_to "Sign up", new_registration_path(resource_name), class: "sign-link" %>
  <% end %>
</header>